.most_read_block  {
	background:url("../images/statistics_history_bg.png") no-repeat right bottom;	
}

.hot_topics_block  {
	background:url("../images/statistics_history_comments_bg.png") no-repeat right bottom;	
}

.most_read_content {
	border-collapse: inherit;
}

.most_read_left_column {
	padding: 2px 0px 2px 0px;
	width: 190px;
	text-align: left
}

.most_read_right_column {
	padding: 2px 0px 2px 0px;
	width: 55px;
	text-align: right;
}

.most_read_link {
	position: absolute;
	margin-left: 3px
}

.most_read_text{
	 white-space: nowrap;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 width: 160px;
	 -moz-binding:url("../bindings/ellipsis.xml#ellipsis");
	 float: left;
}
